version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/packages/**"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "deps"
      prefix-development: "deps(dev)"
